
ol>li {

}
.col {

}
.content-hidden {
  display: none;
}

.content-visible {
  display: block;
}
.notice {

}
.rma-box {

}
.rma-box>p {

}
.rma-box-label {

}
.subtitle {

}
.tab {

}
.tab-active {

}
.tab-content {

}
.tab-content>p {

}
.tab-content>button {

}
.title {

}
.tiny {

}
.ui-shipping-info-container {

}
.ui-state-default {

}
.ui-tabs-anchor{

}
.ui-tabs-anchor>span{

}
ul>li {
  display: inline-block;
}
